{% extends "base.html" %}

{% load static %}

{% block title %}
Update Player
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'crud/css/crud_style.css' %}">
<div class="container">
    <div class="text-center">
        <h2 class="content_headline">Update Player</h2>
    </div>
    
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        {% csrf_token %}
       
        <div class="row">
            <div class="col-md-4">
                <div class="my-3">
                    <label for="id_name" class="custom_label form-label">Name:</label>
                    {{form.name}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-3">
                    <label for="id_age" class="custom_label form-label">Age:</label>
                    {{form.age}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-3">
                    <label for="id_role" class="custom_label form-label">Role:</label>
                    <select class="form-select" name="role" required>
                        <option value="" disabled>--Select--</option>
                        {% for val, lbl in form.role.field.choices %}
                        <option value="{{val}}" {% if val == form.instance.role %} selected {% endif %} >{{lbl}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="my-3">
                    <label for="id_country" class="custom_label form-label">Country:</label>
                    <select name="country" id="" class="form-select" required>
                        <option value="" disabled>--Select--</option>
                        {% for val2, lbl2 in form.country.field.choices %}
                        <option value="{{val2}}" {% if val2 == form.instance.country %}selected{% endif %}>{{lbl2}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="my-3">
                    <label for="id_profile_pic" class="custom_label form-label">Profile pic:</label>
                    {{form.profile_pic}}
                </div>
            </div>
            <div class="col-md-1">
                <div class="my-3">
                    <img src="{{form.instance.profile_pic.url}}" class="img-thumbnail" alt="{{form.instance.name}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="my-3">
                    <label for="id_is_captain" class="form-label custom_label">Is Captain?:</label>
                    {{form.is_captain}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="my-3">
                    <label for="id_fav_food" class="custom_label form-label">Favourite Food:</label>
                    {{ form.fav_food }}
                </div>
            </div>
        </div>
         
        <div class="text-end">
            <input type="submit" class="btn custom_btn btn-success" value="Update">
        </div>
    </form>
</div>
<script>
    function validate() {
        favFood = document.getElementsByName("fav_food");
        for(let i=0;i<favFood.length;i++) {
            if(favFood[i].checked === true) {
                return true;
            }
        }
        alert("Please select atleast one Favourite Food.")
        return false;
    }
</script>
{% endblock %}